<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CobinDBCon" connectionString="metadata=res://*/CobinDB.csdl|res://*/CobinDB.ssdl|res://*/CobinDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL-PC;initial catalog=COBIN;persist security info=True;user id=sa;password=ar12jun+;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
</configuration>