
<ul id="menu">
<li class="topmenu"><a href="~/Secure/Main/"><img src="../../Images/NavIcons/home-4-16.png" alt=""/>Home</a></li>
<li class="topmenu"><a href="#"><img src="../../Images/NavIcons/settings-3-16.png" alt=""/>Setup</a>
<ul>
		<li><a href="~/Setup/ProjectList/" ><img src="../../Images/NavIcons/settings-3-16.png" alt=""/>Project List</a></li>
		
<!--		<ul>
			<li><a href="#" title="Description of files">Description of files</a></li>
			<li class="sublast"><a href="#" title="How to setup">How to setup</a></li>
		</ul>-->
        </li>

	</ul>
</li>

<li class="topmenu"><a href="#"><span><img src="../../Images/NavIcons/user-16.png" alt=""/>Users</span></a>
	<ul>
		<li><a href="~/Users/Index/" ><img src="../../Images/NavIcons/settings-3-16.png" alt=""/>Users List</a></li>
		<li><a href="~/Participants/Index" ><img src="../../Images/NavIcons/user-16.png" alt=""/>Participant List</a>
<!--		<ul>
			<li><a href="#" title="Description of files">Description of files</a></li>
			<li class="sublast"><a href="#" title="How to setup">How to setup</a></li>
		</ul>-->
        </li>
		<li><a href="#"><img src="../../Images/NavIcons/user-16.png" alt=""/>System Access Log</a></li>
		<li class="sublast"><a href="#">User Roles</a></li>
	</ul>
</li>

<li class="topmenu"><a href="#"><img src="../../Images/NavIcons/purchase-order-16.png" alt=""/>Interview</a>
	<ul>
		<li><a href="~/Interview/Index">Start Interview</a></li>
        <li class="sublast"><a href="#" title="Search Voucher">Search Participants</a></li>
	</ul>
 </li>
 <li class="topmenu"><a href="#"><img src="../../Images/NavIcons/purchase-order-16.png" alt=""/>Reports</a>
	<ul>
		<li><a href="#">Survey Report</a></li>
	</ul>
 </li>

<li class="topmenu"><a href="#"><img src="../../Images/NavIcons/utility.png" alt=""/>Utilities</a></li>
</ul>

